.content {
    background-color: rgb(14, 18, 29);
    width: 100%;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .content__title{
      color: white;
      margin-left: 30px;
      text-align: center;
  }
  .content__link a{
      font-size: 20px;
      color:white;
      text-decoration: none;
  }
